* {
    box-sizing: border-box;
  }
  
body {
  font-family: 'Courier New', Courier, monospace;
  padding: 10px;
  background: rgb(252, 248, 232);
}

/* Cabecera */
.header {
  padding: 1px;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  color: rgb(252, 248, 232);
  text-decoration: solid;
  background-image: url(/portada.jpg);
}

.header h1 {
  font-size: 60px;
}

.header h3 {
  font-size: 30px;
}

/* NavBar*/
.topnav {
  overflow: hidden;
  background-color: rgb(235, 100, 64);
}

.topnav a {
  float: left;
  display: block;
  color: rgb(8, 8, 8);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}


.topnav a:hover {
  background-color: rgb(206, 229, 208);
  color: rgb(235, 100, 64);
}

button{
  background-color:  rgb(235, 100, 64);
  border: 1px solid rgb(8, 8, 8);
  padding: 10px;
  border-radius:  20px;
  color: white;
  margin: 3px;
}

/*Canpo de búsqueda*/
input[type=text] {
  width: 50%;
  margin-left: 20%;
  box-sizing: border-box;
  border: 2px solid rgb(8, 8, 8);
  border-radius: 4px;
  font-size: 16px;
  background-color: rgb(255,255,255);
  background-image: url('/buscar.jpg');
  background-position: 10px 10px; 
  background-repeat: no-repeat;
  background-size: 5%;
  padding: 12px 20px 12px 40px;
}

/* Fondo elementos */
.marco {
  background-color: rgb(148, 180, 159);
  width: 100%;
  padding: 20px;
  border-radius: 20px;
}

/* Caja de contenidos */
.card {
  background-color: rgb(206, 229, 208);
  padding: 20px;
  margin-top: 20px;
  color: rgb(8, 8, 8);
  font-weight: bold;
  
}

#textoCentrado {
  text-align: center;
}


#id-grafico{
  
  width:100%;
  max-width:800px;
  margin: auto;
  
}

.draw {
  display: inline;
  padding:10px;
  margin: 3px;
  border-radius:3px;
  border: 1px solid rgb(235, 100, 64);
  font-weight: bold;
  background: rgb(252, 248, 232);
}

.ticket {
    padding:10px;
	  margin: 10px;
    border: 1px solid rgb(235, 100, 64);
    border-radius: 20px;
    box-shadow: 5px 5px 2px 1px rgba(0, 0, 0, 0.2);
    background : rgb(206, 229, 208);
    color: rgb(235, 100, 64);
	  font-weight: bold;
	  font-size: 16px;
    font-size:15px;
}

.ticketHeader {
    display : inline;
    font: 10px;
    padding:10px;
}

.ticketHeaderInterior {
    display : inline;
    padding:5px;
    margin-right: 10px;
    font: 10px;
    min-width : 20%;
    width: 20%;
    margin-bottom: 5px;
}

.ticketCuerpo {
  height: auto;

}

.abierto {
    display : block;
}

.cerrado {
    background : rgb(10, 51, 16);
    display:none;
}

.tienda {
	font-weight : bold;
	font-size : 25px;
	border-radius : 2px;
	margin:10px;
}



.row:after {
  content: "";
  display: table;
  clear: both;
}



div.desc {
  padding: 15px;
  text-align: center;
}

.responsive {
  padding: 0 6px;
  float: left;
  width: 24.99999%;
}

img{
  width: 600px; 
  height: 400px;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}


/* Footer */
.footer {
  padding: 1px;
  text-align: center;
  color: rgb(8, 8, 8);
  background:  rgb(235, 100, 64);
  margin-top: 20px;
}

/* Responsive*/
@media screen and (max-width: 800px) {
  .leftcolumn, .rightcolumn {   
    width: 100%;
    padding: 0;
  }
  .topnav a {
      float: none;
      width: 100%;
    }
}

/* Responsive*/
@media screen and (max-width: 400px) {
  .topnav a {
    float: none;
    width: 100%;
  }
  table {
    display: block;
    overflow-x: auto;
  }
}

@media only screen and (max-width: 700px) {
  .responsive {
    width: 49.99999%;
    margin: 6px 0;
  }
  table {
    display: block;
    overflow-x: auto;
  }
}

@media only screen and (max-width: 500px) {
  .responsive {
    width: 100%;
  }
  table {
    display: block;
    overflow-x: auto;
  }
}